In [2]:
import pandas as pd
import pylab as pl
import numpy as np
import seaborn as sns
import scipy.optimize as opt
from sklearn import preprocessing
%matplotlib inline 
import matplotlib.pyplot as plt

In [10]:
import os
script_dir = os.path.dirname('__file__') #<-- absolute dir the script is in
rel_path_data_insertions="Python_scripts/Data_Files/wt-truncated-insertions-per-gene.xlsx"
# rel_path_data_reads="Python_scripts/Data_Files/WT-benoit-truncated-insertions-per-gene.xlsx"


# abs_path_data_reads = os.path.join(script_dir, rel_path_data_reads)
abs_path_data_insertions = os.path.join(script_dir, rel_path_data_insertions)
data_insertions=pd.read_excel(abs_path_data_insertions,header=0)

In [11]:
data_insertions

      Gene_name  Essentiality  Insertions_truncated
0       YAL069W             0                     5
1     YAL068W-A             0                     2
2          PAU8             0                     1
3     YAL067W-A             0                     0
4          SEO1             0                    15
...         ...           ...                   ...
6595       ARR3             0                     7
6596    YPR202W             0                    18
6597    YPR203W             0                     8
6598    YPR204W             0                    66
6599  YPR204C-A             0                     4

[6600 rows x 3 columns]